@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import 'tailwindcss';
@tailwind utilities;

@keyframes meteor {
  0% {
    transform: rotate(215deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(215deg) translateX(-800px);
    opacity: 0;
  }
}

.meteor-item {
  animation: meteor var(--meteor-duration, 5s) linear var(--meteor-delay, 0s) infinite !important;
}

html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}

@theme {
    --font-grotesk: 'Space Grotesk', sans-serif;
    --font-mono: 'Space Mono', monospace;
    --font-orbitron: 'Orbitron', sans-serif;
}